:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;
    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FAD1D9;
}

.game-container {
    display: flex;
    justify-content: center;
    background-color: #333;
    min-height: 198px;
    min-width: 352px;
    overflow: hidden;
}

.game-container canvas {
    background-color: #333;
    image-rendering: pixelated;
    transform: scale(2.2);
}